In [3]:
# Write a program to subtract two complex numbers in Python.
a = 4 + 3j
b = 5 + 3j
print(a-b)

(-1+0j)

In [5]:
# Write a program to find the fourth root of a number.
a = 16
root_4 = a ** 0.25
print(root_4)

2.0

In [7]:
# Write a program to swap two numbers in Python with the help of a temporary variable.
a = 2
b = 4
print("Before a =",a,"b =",b)
temp = 2
a = b
b = temp
print("After a =",a,"b =",b)

Before a = 2 b = 4
After a = 4 b = 2

In [10]:
# Write a program to swap two numbers in Python without using a temporary variable.
a = 2
b = 4
print("Before a =",a,"b =",b)
a = a+b
b = a-b
a = a - b
print("After a =",a,"b =",b)

Before a = 2 b = 4
After a = 4 b = 2

In [14]:
# Write a program to convert fahrenheit to kelvin and celsius both.
Fahrenheit = 128

Celsius = (Fahrenheit - 32) * 5.0/9.0

Kelvin = 273.5 + ((Fahrenheit - 32.0) * (5.0/9.0))

print("Temperature:", Fahrenheit, "Fahrenheit = ",Kelvin,"Kelvin", Celsius, "Celsius")

Temperature: 128 Fahrenheit =  326.8333333333333 Kelvin 53.333333333333336 Celsius

In [20]:
# Write a program to demonstrate all the available data types in Python. Hint: Use type() function.
a = 2
d = 8.2345678765
e = 4+5j
f = "This is rahul"
g = 1,3,4

print(type(a),
type(d),
type(e),
type(f),
type(g))

<class 'int'> <class 'float'> <class 'complex'> <class 'str'> <class 'tuple'>